@media screen and (max-width: 1050px) {
    body {
        width : 900px;
    }

    diaporama {
        width : 900px;
    }

    diaporama img {
        width : 900px;
    }

    slide img {
        width : 900px;
    }

    main {
        display : block;
        margin-left : 2.5rem;
        margin-right : 2.5rem;
    }

    reservation {
        width: 900px;
        border:none;
    }
}