@media screen and (max-width:835px) {
    body {
        width : 750px;;
    }

    diaporama {
        width : 750px;;
    }

    main {
        margin-left : 10px;
        margin-right : 10px;
    }

    #mapid {
        width : 750px;;
        /* margin-left : 10px;
        margin-right : 10px; */
    }
}