* {

    padding: 0px;
}

body {
    background-color: #f3f3f3;
    width: 1200px;
    margin: 0 auto;
    padding: 0px;
}

.content {
    display:flex;
}

#mapid {
    height: 500px;
    width: 800px;
}