* {
    padding: 0px;
}

body {
    background-color: #f3f3f3;
    width: 1200px;
    margin: 0 auto;
    padding: 0px;
    font-family: Helvetica, sans-serif;
}

.content {
    display:flex;
    
}

#mapid {
    height: 400px;
    width: 800px;
    border: 1px solid rgba(0, 0, 0, 0.4);
    border-radius: 5px;
}


main {
    display: flex;
    justify-content: space-between;
}

reservation {
    position:relative;
    padding: 5px;
    border: 1px solid rgba(0, 0, 0, 0.4);
    /* background-color: lightgrey; */
    font-size: 14px;
}

reservation h4 {
    margin: 0;
    text-align: center;
    
}

reservation label {
    display: block;
    width: 60px;
    float: left;
    font-size: 14px;
}

reservation input {
    /* border: 1px solid rgba(0, 0, 0, 0.5); */
}

reservation button {
    /* position: absolute; */
    /* bottom: 5px;
    left:0;
    right:0; */
    margin-left: auto;
    margin-right: auto;
    width: 100px;
    height: 30px;
    border-radius:5px;
    border: 1px solid rgba(0, 0, 0, 0.5);
}

reservation button:hover {
    background-color: lightskyblue;
}

canvas {
  border: 1px solid red;
    height: 200px;
    width: 200px;
}

